{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" type="text/css" href="{% static 'webmovies/main.css' %}">

		<title> Filmweb </title>
	</head>
	<body>

		{% if movies|length == 0 %}
			<h2>Brak filmów</h2>

		{% else %}
			<h1> Ilość filmów w bazie danych: {{  movies|length }}</h1>

			<h1> FILMWEB TM </h1>
			{% for movie in movies %}

				<h2> <a href="{% url 'web-det' movie.id %}"> {{ movie.title }} </a> </h2>

				<p> {{ movie.descript}} </p>

			{% endfor %}

		{% endif %}


	</body>
</html>